//Media Query for Mobile Phone
@media screen and (max-device-width: 600px) {
  .about-container .left-about p {
    padding-left: 0;
  }
}
@media screen and (max-device-width: 600px) {
  header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }

  .left-header {
    .h-shape {
      display: none;
    }
  }
  .right-header {
    grid-row: 1;
    padding-right: 0rem !important;
    width: 90%;
    margin: 0 auto;
    .name {
      font-size: 2.5rem !important;
      text-align: center;
      padding-top: 3rem;
    }
    p {
      text-align: center;
    }
  }
  .header-content .left-header {
    margin: 0 auto;
    width: 90% !important;
  }
  .image {
    img {
      display: block;
      margin: auto;
      width: 100%;
      height: auto;
    }
  }
  .controls {
    top: auto;
    bottom: 0;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
    .control {
      margin: 1rem 0.3rem;
    }
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
      .about-item {
        margin: 2rem;
      }
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
      h4 {
        display: none;
      }
    }
  }

  .educ-bars {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 5rem;
    margin-left: 20px;
  }
  .container {
    padding: 2rem 2.5rem !important;
  }

  .about-stats {
    .progress-bars {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 30px;
    }
  }

  .port-text {
    margin-top: 5rem;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr) !important;
    .portfolio-item {
      margin-right: 4rem;
      margin-bottom: 4rem;
      img {
        width: 100% !important;
        height: auto;
        display: block;
      }
    }
    .hover-items {
      width: 100% !important;
      height: 450px !important;
    }
  }

  .contact-content-con {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    .right-contact {
      margin-left: 0;
    }
    .left-contact {
      h4 {
        display: none;
      }
    }
  }
  .contact-content-con .left-contact .hand {
    top: 14rem !important;
    left: 5.9rem !important;
  }
  .contact-container {
    .main-title {
      margin-top: 1rem;
    }
  }

  .main-title {
    margin-top: 3rem;
    h2 {
      font-size: 2rem;
      span {
        font-size: 2.3rem;
      }
      .bg-text {
        font-size: 2.3rem;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*@media screen and (min-width: 300px) and (max-width: 500px) {
  .header-content {
    .image {
      img {
        margin-left: 2rem;
      }
    }
    .right-header {
      .name {
        text-align: center;
        margin: 0;
        margin-top: 3rem;
        .p {
          text-align: center;
        }
      }
    }
  }
  .about-container {
    .left-about {
      padding: 0 !important;
      margin: 0;
      text-align: center;
    }

    .about-stats {
      .progress-bars {
        margin-left: 20px;
        width: 60%;
      }
    }

    .right-about {
      display: block;
      .about-item {
        margin: 2rem;
      }
    }
  }
  .port-text {
    margin-top: 5rem;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr) !important;
    .portfolio-item {
      margin-right: 4rem;
      img {
        width: 100% !important;
      }
    }
    .hover-items {
      width: 100% !important;
      height: 450px !important;
    }
  }

  .contact-content-con .left-contact .hand {
    top: 17rem;
    left: 6rem;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .right-contact {
    margin-right: 4rem;
  }
  .contact-container {
    .main-title {
      margin-top: 4rem;
    }
  }
}*/

//Media Query for Tablets//
@media screen and (min-width: 601px) and (max-width: 1029px) {
  .container {
    padding: 7rem 3rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container .right-about {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }
  .contact-content-con .left-contact .hand {
    top: 23.2rem;
    left: 9.5rem;
  }
}

//Media Query for Large Screens//
@media screen and (max-width: 1250px) {
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-content .right-header {
    padding-right: 8rem;
  }
}

@media screen and (max-width: 1432px) {
  .container {
    padding: 7rem 11rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .contact-content-con .right-contact {
    margin-bottom: 6rem;
  }

  .main-title {
    h2 {
      .bg-text {
        font-size: 5.5rem;
      }
    }
  }
}
